{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1>Star Wars films</h1>
        </div>
    </div>

    {% if films %}
        {% for film in films %}
            {{ include('entity/star_wars/film/person_list.html.twig', { 'film' : film, 'iterator' : loop.index0 }) }}
        {% endfor %}
    {% else %}
        OMG! emergency, the films are disappeared, Jar Jar Binks has broken it!
    {% endif %}

{% endblock %}