{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col">
            <a class="btn btn-info" href="{{ path('star_wars.index') }}">Go back</a>
        </div>
    </div>

    {% if person_form %}
        {{ include('entity/star_wars/person/show.html.twig', { 'form': person_form, 'films': films_acted }) }}
    {% else %}
        <div class="row mt-3">
            <div class="col">
                Chewaka It's sad because you have not found your friend
            </div>
        </div>
    {% endif %}

{% endblock %}