{{ form_start(form, { 'attr': {'autocomplete': 'off'} }) }}

<div class="row">
    <div class="col d-flex justify-content-center">
        <h3>{{ form.vars.value.name }}</h3>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        {{ form_row(form.gender) }}
    </div>
    <div class="col">
        {{ form_row(form.birthYear) }}
    </div>
</div>

<div class="row">
    <div class="col">
        {{ form_row(form.eyeColor) }}
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                {{ form_row(form.height) }}
            </div>
            <div class="col">
                {{ form_row(form.mass) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        {{ form_row(form.skinColor) }}
    </div>
    <div class="col">
    </div>
</div>

<div class="row mt-2">
    <div class="col d-flex justify-content-center">
        <h5>Films</h5>
    </div>
</div>

{% for film in films %}
    <div class="row">
        <div class="col d-flex justify-content-center">
            {{ film.title|e }}
        </div>
    </div>
{% endfor %}


<div class="d-none">
    {{ form_row(form.name) }}
</div>

{{ form_end(form ) }}
