{% set collapse = 'multiCollapse' ~ iterator %}
<div class="row mt-2">
    <div class="col d-flex justify-content-center">
        <p>
            <a class="btn btn-dark" data-toggle="collapse" href="{{ '#' ~ collapse }}" role="button"
               aria-expanded="false" aria-controls="{{ collapse }}">
                {{ film.title }}
            </a>
        </p>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="{{ collapse }}">
                    <div class="card card-body">
                        Characters:
                        {% for person in film.people %}
                            <li class="list-group-item">
                                <a href="{{ path('star_wars.show_person', {'name': person.name}) }}">
                                    {{ person.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>